.bracket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 700px;
}

.bracket-title {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 2em;
  font-weight: bold;
  height: 10%;
}

.bracket-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
}

.bracket-search {
  display: flex;
  min-width: 260px;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bracket-tournament {
  display: flex;
  width: 60%;
  min-width: 960px;
  align-items: center;
}

.bracket-fetch {
  display: flex;
  min-width: 145px;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

@media (max-width: 1375px) {
  .bracket {
    min-height: 1000px;
  }
  .bracket-content {
    flex-direction: column;
    align-items: center;
  }
  .bracket-tournament {
    order: -1;
    min-height:300px;
    /* ? Ask David about size and how parts of tournament disappears */
  }
  .bracket-search {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
  }
  .bracket-fetch {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
