.entry{
    display:flex;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    border-bottom:1px solid #e4e4e4;
    min-height:40px;
    padding-left:10px;
    /* width:150px; */
}
.entry img{
    width:30px;
    height:30px;
}
.entry:hover,
.entry:focus{
    background-color:lightgray;
}

.entry span{
    padding-left:5px;
}

.clicked {
    background-color: lightgray;
}
