.random{
display:flex;
flex-direction:column;
align-items: center;
}

.random-number{
font-size:2em;
text-align:center;
font-weight: bold;
color:black;
padding-bottom: 15px;
}
.random button {
    font-size:1em;
}